body{
  font-family: 'Allerta', sans-serif;
}


.titulo{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  margin-top: 70px;
  font-size: 90px;
}

.resumen{
  margin-top: 0px;
}

.title-b{
  font-size: 30px;
  margin-bottom: 0;
}

.title-a{
  margin-bottom: 20px;
}

.guitarras{
  color: #1F313C;
}

.guitarras h2{
  font-size: 35px;
}

.portada{
  background-image: url("../img/background.png");
  color: white;
  padding: 20px;
  margin-left: 20px;
}

.menu{
  font-size: 24px;
  display: inline-block;
    position: absolute;
    right: 10px;
}

.menu li{
  display: inline-block;
}

.logotipo{
  display: inline-block;
}

.contenerdor{
  width: 800px;
  margin: auto;
}

.enlace{
  margin-left: 508px;
  margin-bottom: 261px;
  margin-top: 10px;
}

.guitarra{
  /*overflow: hidden;*/
  border: 2px solid #1f313c;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-right: 50px;
  padding-left: 50px;
}

.right {
  float: right;
  display: inline-block;
  position: relative;
  bottom: 136px;
}

.left {
  float: left;
  position: relative;
  top: -36px;
  left: -30px;
}

.header{
  position: relative;
}
